body {
  margin: 0;
  background-color: #d5fcfa;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: #E8FFFE;
  border: 3px solid #E8FFFE;
  color: rgb(0, 0, 0);
  border-radius: 7px;
}

input {
  background-color: #E8FFFE;
  color: #000;
  border: 1px solid #E8FFFE;
  margin-top: 10px;
  border-radius: 7px;
}

.bold {
  font-weight: bold;
}

.box{
  background-color: #55CCD0;
  border-radius: 25px;
  margin: auto;
  width: 60%;
  color: #ecfffe;
}